.beers {
	background-color: $brand;
	padding-top: 7rem;
	padding-bottom: 7rem;
	color: #111;

	&-slide {
		&-img {
			max-height: 20rem;
			max-width: 100%;
			filter: drop-shadow(15px 9px 24px rgba(0, 0, 0, 0.5));
			display: block;
			margin: auto;
		}
	}
}
