body {
	background-color: var(--bs-black);
	color: var(--bs-light);
}

// .container {
// 	width: 1024px;
// 	max-width: 100%;
// }

a {
	text-decoration: none;
	color: var(--bs-light);
	&:hover {
		color: var(--bs-warning);
	}
}

img {
	max-width: 100%;
}
