$brand: #ffc107;
$success: #198754;
$danger: #dc3545;
$warning: #fd7e14;
$info: #0d6efd;
$dark: #111;
$light: #f3f3f3;

//
$prefix: '';

// body
$body-bg: #0e0e0f;
$body-color: $light;

// links
$link-color: $light;
$link-decoration: none;
$link-hover-color: #fff;

//
$container-max-widths: (
	lg: 1024px,
);

// $grid-gutter-width: 4rem;

$container-padding-x: 4rem;

// fonts
$font-family-sans-serif: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji',
	'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
//

$border-radius: 0.25rem;
// btn
$input-btn-padding-y-lg: 0.75rem;
$input-btn-padding-x-lg: 1.5rem;
$input-btn-font-size-lg: 1rem;
$btn-border-radius-lg: $border-radius;
$input-btn-focus-width: 0;

$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1rem;
$btn-font-weight: 500;
$input-btn-focus-box-shadow: 0;

//
$modal-content-bg: none;
$modal-content-border-width: 0;
$modal-dialog-margin: 1.5rem;
// $modal-backdrop-opacity: 0.8;
// $modal-content-bg: #fff;

$tooltip-bg: rgba(#111, 0.8);
$tooltip-font-size: 0.75rem;

$tooltip-padding-y: 0.5rem;
$tooltip-padding-x: 1rem;

//
$accordion-padding-y: 1rem;
$accordion-padding-x: 0;
$accordion-color: inherit;
$accordion-bg: $body-bg;
$accordion-icon-color: #999;
$accordion-icon-active-color: #fff;
$accordion-button-active-bg: $body-bg;
$accordion-button-active-color: #fff;
$accordion-border-color: rgba(#fff, 0.1);
$accordion-icon-width: 1rem;

//

$dropdown-min-width: 100%;
$dropdown-font-size: 0.875rem;
$dropdown-padding-y: 0;
// $dropdown-spacer:
// $dropdown-bg:
// $dropdown-link-active-bg:
$dropdown-item-padding-y: 0.5rem;
// $dropdown-item-padding-x:
