.modal {
	&-dialog,
	&-content {
	}

	&-title {
		font-weight: 800;
	}

	&-open {
		&::before {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: block;
			backdrop-filter: saturate(150%) blur(20px);
			z-index: 1049;
		}
	}

	&-backdrop {
	}
}

.btn-close {
	background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFF'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
		center/1em auto no-repeat;
}

.form-floating textarea.form-control {
	min-height: 10rem;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #222 inset !important;
	-webkit-text-fill-color: white !important;
	border-color: transparent;
	outline: none;
	border-radius: 0.25rem;
}

.translate-item {
	margin-bottom: 1rem;
	.translate-label {
		font-size: 0.875rem;
		display: block;
		margin-bottom: 0.25rem;
	}
	.translate-control:focus + .translate-label {
		color: $brand;
	}
}

#koalamint_div {
	width: auto !important;
}

#koalamint_count {
	font-size: 1.25rem !important;
	width: 5rem !important;
}

#koalamint_button {
	color: #000 !important;
	background-color: $brand !important;
	font-size: 1.25rem !important;
	font-weight: 500 !important;
	cursor: pointer;
}
