.footer {
	border-top: 1px solid #0a0a0a;
	.container {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}

	&-copyright {
		border-top: 1px solid #0a0a0a;
		text-align: center;
		padding: 1.5rem 0;
		font-size: 0.75rem;
		color: #666;
	}

	h4 {
		font-size: 1.125rem;
		margin-bottom: 1.5rem;
	}
	&-nav {
		&-link {
			font-size: 0.875rem;
			padding: 0.25rem 0;
			display: block;
			color: #888;

			transition: all ease-in-out 0.25s;

			svg {
				display: inline-block;
				vertical-align: middle;
				margin-right: 0.5rem;
				transform: translateY(-1px);
			}

			&:hover {
				padding-left: 0.25rem;
			}
		}
	}
}
