.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 2.5rem 0;
	z-index: 1000;
	// background-color: rgba(#000, 0.4);

	.container {
		display: flex;
		align-items: center;
	}
	.logo {
		color: var(--bs-warning);
		transition: color ease 0.25s;
		transform: translateY(0.25rem);
		&:hover {
			color: #fff;
		}
	}
}

.nav-toggle {
	// background-color: red;
	background: none;
	border: 0;
	width: 3rem;
	height: 3rem;
	padding: 0;
	text-align: center;

	.line {
		width: 1.5rem;
		border-radius: 0.5rem;
		height: 3px;
		background-color: #fff;
		display: block;
		margin: 0 auto;
		position: relative;

		transition-property: transform, top;
		transition-delay: 0ms, 160ms;
		transition-duration: 200ms;
	}
	.line-1 {
		top: -4px;
	}
	.line-2 {
		top: 4px;
	}

	&.active {
		.line {
			background-color: $brand;
			top: 0;
		}

		.line-1 {
			top: 1.5px;

			transform: rotateZ(45deg);
			transition-property: top, transform;
			transition-delay: 0ms, 160ms;
			transition-duration: 200ms;
		}
		.line-2 {
			top: -1.5px;
			transform: rotateZ(-45deg);
			transition-property: top, transform;
			transition-delay: 0ms, 160ms;
			transition-duration: 200ms;
		}
	}
}
