.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	background-color: rgba(#000, 0.7);

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		backdrop-filter: saturate(180%) blur(20px);
		z-index: -1;
	}

	.container {
		display: flex;
		align-items: center;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	a:focus-visible {
		transition: none;
		outline: 2px solid rgba($info, 0.6);
	}

	@media screen and (max-width: 767px) {
		transition-property: background-color;
		transition-delay: 0.4s;
		transition-duration: 0.5s;

		&::before {
			transition-property: background-color;
			transition-delay: 0.4s;
			transition-duration: 0.5s;
		}

		&.nav-active {
			background-color: #000;
			transition-property: background-color;
			transition-delay: 0s;
			transition-duration: 0.3s;

			&::before {
				background-color: #000;

				transition-property: background-color;
				transition-delay: 0s;
				transition-duration: 0.3s;
			}
		}

		.container {
			z-index: 100;
		}
	}
}
