.header-logo {
	color: var(--bs-warning);
	transition: opacity ease-in-out 0.125s;
	height: 3rem;
	width: 3rem;
	opacity: 0.9;
	z-index: 10000;

	&-svg {
		height: 100%;
	}

	&:hover {
		opacity: 1;
	}
	@media screen and (max-width: 767px) {
		margin-left: 0.5rem;
	}
}
