.header-logo {
	color: var(--bs-warning);
	transition: color ease 0.25s;
	margin-right: 2.5rem;
	&:hover {
		color: #fff;
		&-svg {
			fill: #fff;
		}
	}
	@media screen and (max-width: 767px) {
		margin-left: 0.5rem;
	}
}
