.header-nav {
	flex: 1;

	&-list {
		display: flex;
		width: 100%;
	}

	&-item {
		flex-grow: 1;
		position: relative;
		text-align: center;
	}

	&-link {
		display: block;
		font-size: 0.875rem;
		letter-spacing: 0.5px;
		height: 3rem;
		line-height: 3rem;
		transition: all ease-in-out 0.125s;
		cursor: pointer;
		font-weight: 300;
		color: #fff;
		opacity: 0.8;
		position: relative;

		&.active,
		&:hover {
			color: #fff;
			text-shadow: 0 0 0 white;
			opacity: 1;
		}
	}
}

@media screen and (max-width: 767px) {
	.header-nav {
		position: fixed;
		top: 3rem;
		left: 0;
		background-color: #000;
		width: 100%;
		overflow: hidden;
		height: 0;
		transition: height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1);

		&.active {
			height: 100%;
			overflow: auto;

			.header-nav-list {
				transition: all ease 0.55s;
				opacity: 1;
				visibility: visible;
			}
		}

		&-list {
			transition: all ease 0.55s;
			visibility: hidden;
			opacity: 0;
			border-top: 1px solid #151515;

			display: block;
			position: relative;
		}

		&-item {
			text-align: left;
		}

		&-link {
			padding: 0 1.5rem;
			border-bottom: 1px solid #151515;
			font-size: 0.9875rem;
			letter-spacing: 0;
			height: 3.5rem;
			line-height: 3.5rem - 0.0625rem;
		}
	}
}
