.header-social {
	display: flex;
	margin-left: 0.5rem !important;

	&-item {
		position: relative;
		&:not(:last-child) {
		}
	}

	&-link {
		display: block;
		height: 3rem;
		width: 2.5rem;
		transition: all ease-in-out 0.125s;
		text-align: center;
		cursor: pointer;
		font-weight: 300;
		color: #fff;
		opacity: 0.8;
		&:hover {
			color: #fff;
			text-shadow: 0 0 0 white;
			opacity: 1;
			filter: drop-shadow(0 0 0 rgba(#fff, 1));
		}
		svg {
			height: 100%;
		}
	}
}
