.header-social {
	display: flex;

	&-item {
		position: relative;
		&:not(:last-child) {
			margin-right: 1rem;
		}
	}

	&-link {
		display: block;
		height: 2.5rem;
		line-height: 2.5rem;
		transition: all ease-in-out 0.125s;
		text-align: center;
		cursor: pointer;
		font-weight: 300;
		color: #ccc;
		&:hover {
			color: #fff;
		}
	}
}
