.header-social {
	display: flex;
	margin-left: 0.5rem !important;

	&-item {
		position: relative;
		&:not(:last-child) {
		}
	}

	&-link {
		display: block;
		height: 3rem;
		width: 2.5rem;
		transition: all ease-in-out 0.125s;
		text-align: center;
		cursor: pointer;
		font-weight: 300;
		color: #ccc;
		&:hover {
			color: #fff;
		}

		svg {
			height: 100%;
		}
	}
}
