.beers {
	padding-top: 7rem + 5rem;

	.section-desc {
		margin-bottom: 1rem;
	}

	&-img {
		max-height: 22rem;
		max-width: 100%;
		filter: drop-shadow(15px 9px 24px rgba(0, 0, 0, 0.5));
	}

	@media screen and (max-width: 767px) {
		// padding-top: 8rem + 5rem;
	}
}
