.beers {
	padding-top: 7rem + 5rem;

	.section-desc {
		margin-bottom: 1rem;
	}

	&-img-container {
		filter: drop-shadow(15px 9px 24px rgba(0, 0, 0, 0.5));
	}

	@media screen and (max-width: 767px) {
		padding-top: 11rem;
		.container {
			padding-left: 3rem;
			padding-right: 3rem;
		}
	}
}
