.certs {
	padding-top: 0;
	padding-bottom: 8rem;
	&-item {
		margin-top: -6rem;
	}
	&-img {
		display: block;
		margin-bottom: 2rem;
	}
	&-title {
		font-weight: 800;
		font-size: 2rem;
		margin-bottom: 1rem;
	}
	&-desc {
		opacity: 0.8;
		margin-bottom: 1rem;
	}
}
