.pubs {
	width: 100%;

	.container {
		position: relative;
	}

	&-img {
		max-width: 100%;
		filter: drop-shadow(0 0 3rem rgba(0, 0, 0, 0.5));
	}

	.floating {
		&-03 {
			background-image: url('/img/home/floating-03.png');
			width: 10rem;
			height: 10rem;
			top: -13rem;
			right: 6rem;
		}
		&-04 {
			background-image: url('/img/home/floating-04.png');
			width: 10rem;
			height: 10rem;
			bottom: -13rem;
			left: 3rem;
		}
	}
}

@media screen and (max-width: 767px) {
	.pubs {
		.container {
			padding-left: 3rem;
			padding-right: 3rem;
		}
		.floating {
			&-03 {
				width: 8rem;
				height: 8rem;
				top: -10rem;
				right: 1rem;
			}
			&-04 {
				width: 8rem;
				height: 8rem;
				bottom: -10rem;
				left: 1rem;
			}
		}
	}
}
