.shill {
	position: relative;
	overflow: hidden;

	.swiper {
		overflow: visible;
	}
	&-wrap {
		width: 18rem;
		max-width: 100%;
		margin: auto;
		overflow: visible;

		@media screen and (max-width: 459px) {
			width: 16rem;
		}
	}
	&-card {
		border-radius: 1rem;
		text-align: center;
		min-height: 23rem;
		width: 20rem;
		background: linear-gradient(to bottom, #fff, #ddd);
		box-shadow: 0 0 0.5rem rgba(#000, 0.3);
		color: #111;
		position: relative;
		display: flex;
		@media screen and (max-width: 459px) {
			min-height: 20rem;
		}
	}
	&-inner {
		margin: auto;
		padding-right: 2rem;
		padding-left: 2rem;
	}

	&-avatar {
		width: 6rem;
		height: 6rem;
		border-radius: 50%;
		display: block;
		margin: 0 auto;
		border: 5px solid rgba(#000, 0.1);
	}
	&-username {
		font-weight: 600;
		font-size: 1.25rem;
		margin: 1rem 0;
	}
	&-points,
	&-lndlrd {
		font-size: 1rem;
		font-weight: 400;
		margin: 0;
		opacity: 0.8;
	}

	&-main {
		&-svg {
			color: $info;
		}

		&-desc {
			margin-top: 2rem;
			margin-bottom: 2rem;
			font-weight: 600;
			font-size: 1.25rem;
		}

		&-swipe {
			opacity: 0.6;
		}
	}
}

@media screen and (max-width: 459px) {
	.shill {
		&-username {
			font-size: 1rem;
		}

		&-points,
		&-lndlrd {
			font-size: 0.875rem;
		}

		&-main {
			&-desc {
				font-size: 1rem;
			}
			&-swipe {
				font-size: 0.875rem;
			}
		}
	}
}
