.store {
	position: relative;
	padding-top: 5rem;
	padding-bottom: 4rem;
	background: #000;
	border-bottom: 1px solid #0a0a0a;

	.swiper-overflow-container {
	}

	.swiper {
		padding: 3rem 2rem;
	}

	.section-header {
		margin-bottom: 3rem;
	}

	.section-title {
		font-size: 2.5rem;
	}

	&-item {
		background-color: rgba(#fff, 0.05);
		height: 100%;
		border-radius: 1rem;
		color: #ccc;
		display: block;
		// border: 2px solid transparent;
		transition: all ease 0.2s;
		overflow: hidden;
		position: relative;
		width: 100%;
		border: 1px solid transparent;

		// box-shadow: 0 0 10rem rgba(#888, 0.05);
		border-top: 1px solid #333;

		&:hover {
			color: $brand;
			transform: scale(1.02);
			box-shadow: 0 0 2rem rgba(#000, 0.15);

			.store-details-label {
				opacity: 0.6;
			}
		}

		figure {
			padding: 2rem 1rem 1rem;
			display: flex;
		}

		img {
			margin: auto;
			display: block;
			filter: drop-shadow(0 0 2rem rgba(#000, 0.4));
		}
	}

	&-details {
		padding: 1rem 2.5rem 2.25rem;
		position: relative;
		z-index: 100;

		&-label {
			font-size: 0.75rem;
			text-transform: uppercase;
			top: 0.125rem;
			position: absolute;
			left: 2.5rem;
			opacity: 0;
			transition: all ease 0.25s;
			display: none;
		}
		&-title {
			font-size: 1.25rem;
			font-weight: 700;
			margin: 0.5rem 0;
		}

		&-price {
			opacity: 0.7;
			font-size: 0.875rem;
		}
	}
}
