.tokenomics {
	position: relative;
	padding-top: 7rem;
	padding-bottom: 0;

	// &::after {
	// 	content: '';
	// 	display: block;
	// 	width: 100%;
	// 	height: 100%;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	z-index: 1;
	// 	background-image: linear-gradient(180deg, #000, transparent);
	// }

	.container {
		position: relative;
		z-index: 2;
	}

	&-desc {
		width: 40rem;
		max-width: 100%;
		margin: 0 auto 0;
	}

	//

	.floating {
		position: absolute;
		display: block;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;

		&-01 {
			background-image: url('/img/home/floating-01.png');
			width: 7rem;
			height: 7rem;
			top: -5rem;
			right: 10rem;
			z-index: 10000000;
			filter: drop-shadow(2px 4px 0.5rem rgba(0, 0, 0, 0.2));
		}

		&-02 {
			background-image: url('/img/home/floating-02.png');
			width: 5rem;
			height: 5rem;
			bottom: -36px;
			left: 6rem;
			filter: drop-shadow(2px 4px 0.5rem rgba(0, 0, 0, 0.2));
		}
	}

	// swiper
	.swiper {
	}
	.swiper-slide {
		height: auto;
	}

	.swiper-button-next {
		right: -7px;
		left: auto;
		width: 3rem;
		height: 3rem;
		text-align: center;
	}
	.swiper-button-prev {
		left: -7px;
		right: auto;
		width: 3rem;
		height: 3rem;
		text-align: center;
	}

	.swiper-button-next:after,
	.swiper-button-prev:after {
		font-size: 1.5rem;
	}
	.swiper-button-next.swiper-button-disabled,
	.swiper-button-prev.swiper-button-disabled {
		display: none;
	}
	.swiper-button-next,
	.swiper-button-prev {
		color: rgba(#fff, 0.5);
	}

	// protocols
	&-protocols {
		transform: translateY(5rem);
		z-index: 2;
		position: relative;
		margin-top: -1rem;
	}

	&-item {
		background-color: #000;
		height: 100%;
		padding: 3rem;
		border-radius: 1rem;
		position: relative;
		z-index: 10;
		border-top: 1px solid #333;

		&-percent {
			color: $brand;
			display: block;
			font-size: 1.5rem;
		}

		&-title {
			overflow: hidden;
			position: relative;
			display: block;
			margin: 1rem 0;
			font-weight: 700;
			font-size: 1.5rem;
		}
		&-desc {
			font-size: 0.875rem;
			color: #ccc;
			margin-bottom: 0;
			line-height: 1.8;
		}

		@media screen and (max-width: 699px) {
			text-align: center;
		}
	}

	@media screen and (max-width: 767px) {
		padding-top: 5rem;

		.container {
			padding: 0;
		}

		&-protocols {
			margin-top: -2rem;
		}
	}
}
