.tokenomics {
	position: relative;
	padding-bottom: 0;
	background-image: linear-gradient(180deg, #000, #303032);

	// &::after {
	// 	content: '';
	// 	display: block;
	// 	width: 100%;
	// 	height: 100%;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	z-index: 1;
	// 	background-image: linear-gradient(180deg, #000, transparent);
	// }

	.container {
		position: relative;
		z-index: 2;
	}

	&-desc {
		width: 40rem;
		max-width: 100%;
		margin: 0 auto 0;
	}

	//

	.floating {
		&-01 {
			width: 7rem;
			height: 7rem;
			top: -5rem;
			right: 10rem;
		}

		&-02 {
			width: 5rem;
			height: 5rem;
			bottom: -36px;
			left: 6rem;
			z-index: -1;
		}
	}

	// swiper
	.swiper {
	}
	.swiper-slide {
		height: auto;
	}

	.swiper-button-next {
		right: -7px;
		left: auto;
		width: 3rem;
		height: 3rem;
		text-align: center;
	}
	.swiper-button-prev {
		left: -7px;
		right: auto;
		width: 3rem;
		height: 3rem;
		text-align: center;
	}

	.swiper-button-next:after,
	.swiper-button-prev:after {
		font-size: 1.5rem;
	}
	.swiper-button-next.swiper-button-disabled,
	.swiper-button-prev.swiper-button-disabled {
		display: none;
	}
	.swiper-button-next,
	.swiper-button-prev {
		color: rgba(#fff, 0.5);
	}

	// protocols
	&-protocols {
		transform: translateY(5rem);
		z-index: 2;
		position: relative;
		margin-top: -1rem;
	}

	&-item {
		z-index: 10;
		position: relative;
		background-color: #000;
		height: 100%;
		padding: 2.5rem;
		border-radius: 1.25rem;
		border-top: 1px solid #333;

		&-percent {
			color: $brand;
			display: block;
			font-size: 1.5rem;
		}

		&-title {
			overflow: hidden;
			position: relative;
			display: block;
			margin: 0.75rem 0 1rem;
			font-weight: 700;
			font-size: 1.5rem;
		}
		&-desc {
			font-size: 0.875rem;
			color: #ccc;
			margin-bottom: 0;
			line-height: 1.8;
		}
	}
}

@media screen and (max-width: 767px) {
	.tokenomics {
		.container {
			padding-left: 3rem;
			padding-right: 3rem;
		}

		&-desc {
			margin: 0;
		}

		.swiper-container {
			padding: 0;
		}

		&-protocols {
			margin-top: -2rem;
		}

		.floating {
			&-01 {
				width: 5rem;
				height: 5rem;
				top: -2rem;
				right: 2rem;
			}
			&-02 {
				width: 5rem;
				height: 5rem;
				bottom: -3rem;
				left: -2rem;
				opacity: 0.4;
			}
		}
	}
}

@media screen and (max-width: 479px) {
	.tokenomics {
		.floating {
			&-01 {
				right: 1rem;
			}
		}
	}
}
