.ama {
	&-item {
		display: block;
		min-height: 15rem;
		background-color: #222;
		font-size: 1rem;
		border-radius: 0.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		transition: background-color ease-in-out 0.25s;

		&:hover {
			background-color: #252525;
		}

		&-desc {
			position: absolute;
			bottom: 0;
			left: 0;
		}

		&-title {
			font-size: 1.25rem;
			font-weight: 600;
		}

		&-icon {
			opacity: 0.8;
		}
	}
}
