.page-buy {
	.dropdown-toggle {
		&::after {
			margin-left: 1rem;
		}
	}
	.page-title {
		text-transform: none;
	}
	&-options {
		width: 30rem;
	}
}

.buy {
	&-card {
		background-color: #000;
		border-top: 1px solid #222;
		border-radius: 1rem;
		width: 45rem;
		max-width: 100%;
		padding: 8rem 3rem;
		margin: 3rem auto;

		&-title {
			font-size: 1.25rem;
			font-weight: 500;
		}
	}

	&-options {
		select {
			width: auto;
			border: 0;
			padding: 0.5rem 2.25rem 0.5rem 1rem;
			background-position: right 0.75rem center;
			background-color: var(--primary);
			margin-left: 1rem;
		}
	}
}
