.page-buy-checkout {
	min-height: 20rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	border-radius: 1rem;
}
.buy-step {
	background-color: rgba(#000, 0.5);
	padding: 2rem;
	border-radius: 0.5rem;
	position: relative;

	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	&-number {
	}
	&-title {
		font-size: 1.25rem;
		font-weight: 600;
		margin-bottom: 0.5rem;
	}
	&-desc {
		font-size: 0.875rem;
		opacity: 0.9;
	}
}
