.page-buy-checkout {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	border-radius: 1rem;
}

.buy-link {
	padding: 1.875rem 1rem;
	text-align: center;
	display: block;
	background-color: #000;
	border-top: 1px solid #333;
	border-radius: 1rem;
	transition: all ease 0.25s;
	height: 100%;

	&-title {
		display: block;
		display: block;
		margin-top: 1rem;
		opacity: 0.8;
		font-size: 0.875rem;
		span {
			display: block;
			font-size: 0.75rem;
			opacity: 0.8;
		}
	}

	&-img {
	}

	&:hover {
		background-color: #222;
		border-top: 1px solid #444;
	}
}
