.team {
	&-list {
	}

	&-item {
		margin-top: 4rem;
		text-align: center;
	}
	&-img {
		border-radius: 50%;
		width: 8rem;
		display: block;
		margin: auto;
		margin-bottom: 0.75rem;

		@media screen and (max-width: 399px) {
			width: 4rem;
		}
	}
	&-name {
		display: block;
		margin-bottom: 0.5rem;
		font-size: 1.125rem;
	}
	&-title {
		font-size: 0.75rem;
		opacity: 0.6;
		margin-bottom: 0.25rem;
		word-break: keep-all;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: 100%;
		overflow: hidden;
		@media screen and (max-width: 399px) {
			font-size: 0.65rem;
		}
	}
	&-link {
		opacity: 0.6;
		&:first-child {
			margin-right: 0.75rem;
		}
		&:hover {
			opacity: 1;
		}
	}
}
