.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 1.5rem 0;
	z-index: 1000;

	.container {
		display: flex;
		align-items: center;
	}
	.logo {
		text-transform: uppercase;
		font-weight: 500;
		color: var(--bs-warning);
		&:hover {
			color: #fff;
		}
	}
}
