<section class="hero">
	<article class="container">
		<h1 class="hero-title"><span>Worlds first</span> <span>crypto pubs</span></h1>
		<p class="hero-desc">The Landlord Token(LNDLRD) drives the whole Landlord ecosystem. A BEP-20 token that
			incorporates 3 fantastic
			protocols into it's smart contract. Together, it's tokenomics power-up one truly unique token and will
			really
			drive forward the Pub industry.</p>

		<div class="hero-btns d-flex">
			<a href="/" class="btn btn-warning me-3">How To Buy</a>
			<a href="/" class="btn btn-dark">Whitepaper</a>
		</div>
	</article>
</section>